.button
{
    background-color: #090;

    border-radius: 7px;
    width: 125px;
    height:25px;

    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #73C8F0;
    cursor: pointer;

    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.button:hover
{
    background-color: orange;
}


#user
{
    background: -webkit-linear-gradient(top, rgba(255, 236, 175, 1) 0%,
    rgba(255, 192, 3, 1) 100%);
    color: #093;
    top: 2px;
    left: 2px;
}

#content
{
    margin-left: auto;
    margin-right: auto;
}